// Specific CSS for your home-page
// .home-banner {
//   height: 800px;
//   width: 100%;
// }

.banner {
  background-size: cover;
  background-position: center;
  height: 88vh;
  padding: 150px 0;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 100px;
    font-weight: bold;
  }

  p {
    font-size: 30px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.btn-ghost {
  color: #FFFBFC;
  background-color: #EC058E;
  border: 1px solid #FFFBFC;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: 0.7s ease;
}

.btn-ghost:hover {
  color: #EC058E;
  background-color: #FFFBFC;
  border: 1px solid #EC058E;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: 0.7s ease;
}
