<h1>Friends#index</h1>
<p>Find me in app/views/friends/index.html.erb</p>
<h1>SUP BIRCHES</h1>



<% @friends.each do |f| %>
  <h5><%= f.location %></h5>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> <!-- will need to change to <%= image_tag CLOUDINARY %> -->
  <h2><%= f.first_name %></h2>
  <h3>£ <%= f.daily_rate %> per day</h3>
<% end %>



<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://scontent-lhr8-1.xx.fbcdn.net/v/t1.6435-9/147420807_2850093175273433_51761852304375941_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=pDTolIp1rH0AX8eUmOR&_nc_oc=AQlrlR0dgsK59d4vnc6wBuOuMQQICA5M4pienNY-OkyiYmeVoqlHwJwgGeiDRb_4dlU&_nc_ht=scontent-lhr8-1.xx&oh=00_AT9XVUKU0WRh9O4lq4q_DlIBe65NSJkjFPf6oLs8FwlDgQ&oe=63328235" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <h5>CITY</h5>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-info">
          <h2>FIRST  NAME</h2>
        </div>
        <h2 class="card-price">£99.99</h2>
      </div>
    </div>








    </div>
  </div>




  </div>
</div>
