<%# navbar css classes from bootstrap framework %>
<div class="navbar navbar-expand-sm">

  <div class="navbar-container">

    <%# logo %>
    <%= link_to "/", class: "" do %>
      <%= image_tag "Rent A Friend Logo", class: "navbar-logo" %>
    <% end %>

    <%# hamburger menu of search field and login btn for samll screen from bootstrap framework %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="search-box" data-controller="search-field">
        <input type="text" placeholder="Type to search ...">
        <div class="search-btn-a">
          <i class="fas fa-search"></i>
        </div>
        <div class="cancel-btn">
          <i class="fas fa-times"></i>
        </div>
      </div>


  </div>

</div>
