<%# bootstrap navbar %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div class="container-fluid">

    <%# Rent A Friend logo %>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "Rent A Friend Logo", class: "logo" %>
    <% end %>

    <%# mobile - hamburger menu %>
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>

    <%# search bar and login btn %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <%# <ul class="navbar-nav me-auto"> %>



      <div class="search-box" data-controller="search-field">
        <input type="text" placeholder="Type to search ...">
        <div class="search-btn-a">
          <i class="fas fa-search"></i>
        </div>
        <div class="cancel-btn">
          <i class="fas fa-times"></i>
        </div>
      </div>



      <%# </ul> %>

    </div>
  </div>

</div>
