.footer {
  background: #fffbfc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: rgb(0, 0, 0);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.5s;
}

.footer-links a:hover {
  opacity: 1;
  color: #ea0583f6;
}

.footer .fa-heart {
  color: #D23333;
}

ul {
  list-style:none;
}

li {
  float: right;
  padding-right: 3px;
}
