.container-fluid {
  width: 70%;

  .logo {
    height: 80px;
  }
}

.navbar-lewagon {
  // justify-content: space-between;

  .navbar-collapse {
  flex-grow: 0;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.nav-link {
  color: white;
  background-color: #ec058e;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s ease;
}

.nav-link:hover {
  background-color: #CE047B;
  color: white;
  border: 1px solid white;
  // opacity: 1;
}


.search-radius {
  border-radius: 50px;
}

.login {
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: #62BBC1 !important;
}
