.navbar-lewagon {
  justify-content: space-between;
  background: #fffbfc;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.nav-link {
  color: white;
  background-color: #ec058e;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s ease;
}

.nav-link:hover {
  background-color: #CE047B;
  color: white;
  border: 1px solid white;
  // opacity: 1;
}

.navbar-lewagon .logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: fill;
}

.search-radius {
  border-radius: 50px;
}

.login {
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: rgb(97,187,192) !important;
}
