// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// @import "friends/index";
@import "friends/show";

// @import "bookings/index";
@import "bookings/new";

// @import "users/index";
@import "users/show";
