.space {
  margin-bottom: 120px;
}

.container-booking {
  margin: 50px auto;
}

.container-booking h3 {
  margin: 50px auto;
  text-align: center;
}

.card-booking {
  overflow: hidden;
  height: 200px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.card-booking img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 16px;
}

.btn-booking {
  width: 800px;
  margin: auto;
  text-align: center;
}

.btn-flat {
  color: white;
  margin: 50px auto;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.hidden {
  display: none;
}
